.liensEnhaut
{
    display: flex;
    justify-content: flex-end;
}



.centre
{
	margin: auto ;
    text-align: -webkit-center;
    align-content: center;
    width: 500px;
    display:flex;
    flex-direction: column;
}



#champDeRecherche
{
margin-top: 2em;
width: 500px;
margin-bottom: 2em;
height: 2em;
box-shadow: 1px 1px 1px grey;

}

body
{
	min-height: 100%;
	margin:0px;
	display: flex;
	flex-direction: column;
}


html
{
	height:100%;

}
