html 
{
    height: 100%;
}
body 
{
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    align-content: space-between;

}


#logo
{
	height: 92px;
    width: 272px;
    display: block;
    text-align: -webkit-center;
    padding-top: 109px;
    display: block;
    margin-left: auto;
    margin-right: auto
}




nav
{
	text-align: right;
}



#bas
{
border-top: 1px solid black;
border-bottom: 1px solid black;
color: rgba(0,0,0,.54);
padding-left: 27px;

}



#conteneur
{
   
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    margin-left: 1em;
}




#conten
{

    color: rgba(0,0,0,.54);
	display: flex;
    justify-content: flex-start;
    margin-right: 1em;
    margin-left: 1em;
}
footer

{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    height: 350px; /* Un peu de hauteur pour que les éléments aient la place de bouger */
}